<h3>{{ section.settings.ship-text }}</h3>
<h6>{{ section.settings.shipping-text }}</h6>



{% schema %}
    {
        "name": "information",
        "settings": [
            {
                "type": "text",
                "id": "ship-text",
                "label": "Heading"
               
            },
            {
                
                    "type": "textarea",
                    "id": "shipping-text",
                    "label": "Explain yourself"
                  
        
            }
        
        ]
    }
{% endschema %}



