<h3>{{ section.settings.ship-text }}</h3>
<h6>{{ section.settings.shipping-text }}</h6>

<img src=" {{section.settings.image | img_url }} " alt="Image of a simple backpack">

{% for block in section.blocks %} 

  <h6> {{block.settings.blk}} </h6>
  
{% endfor %}

{% schema %}
    {
        "name": "information",
        "settings": [
            {
                "type": "text",
                "id": "ship-text",
                "label": "Heading"
               
            },
            {
                
                    "type": "textarea",
                    "id": "shipping-text",
                    "label": "Explain yourself"
                  
        
            },

            {
                 "type": "image_picker",
                 "id": "image",
                 "label": "Add your image"
            }
            
        ],

        "blocks": [
            {
                "type": "Slide",
                "name": "slide",
                "settings": [
                    {
                        "type": "text",
                        "id": "blk",
                        "label": "Your text"
                    }
                    
                ]
            }
        ]
        
        

    }
    
    
{% endschema %}



