<h3>{{ section.settings.ship-text }}</h3>
<h6>{{ section.settings.shipping-text }}</h6>
<img src="{{ section.settings.my-img | img_url:'master'}" alt="backpack image">

{% for block in section.blocks %}
 
<h6> {{ block.settings.team-member-text }} </h6>
    
{% endfor %}

{% schema %}
    {
        "name": "information",
         "max_blocks" : 5,
        "settings": [
            {
                "type": "text",
                "id": "ship-text",
                "label": "Heading"
               
            },
            {
                
                    "type": "textarea",
                    "id": "shipping-text",
                    "label": "Explain yourself"
                  
        
            },

            {
                 "type": "image_picker",
                 "id": "my-img",
                 "label": "Add your image"
            }
            
        ]
    },
    "blocks": [
        {
            "type": "team",
            "name": "team",
            "settings": [
                {
                    "type": "text",
                    "id": "team-member-text",
                    "label": "TeamBio"
                }
        }
    ]
    
{% endschema %}



