<h3>{{ section.settings.ship-text }}</h3>
<h6>{{ section.settings.shipping-text }}</h6>

{% for block in section.blocks %} 
    <div>
        <h1>{{ block.settings.bio }}</h1>
    </div>
{% endfor %}

{% schema %}
    {
        "name": "information",
        "settings": [
            {
                "type": "text",
                "id": "ship-text",
                "label": "Heading"
               
            },
            {
                
                    "type": "textarea",
                    "id": "shipping-text",
                    "label": "Explain yourself"
                  
        
            },

            {
                 "type": "image_picker",
                 "id": "image",
                 "label": "Add your image"
            }
            
        ]
        

    }
    
    
{% endschema %}



