<h3>{{ section.settings.ship-text }}</h3>
<h6>{{ section.settings.shipping-text }}</h6>
<div> {{ section.settings.my-img  }} </div>

{% schema %}
    {
        "name": "information",
        "settings": [
            {
                "type": "text",
                "id": "ship-text",
                "label": "Heading"
               
            },
            {
                
                    "type": "textarea",
                    "id": "shipping-text",
                    "label": "Explain yourself"
                  
        
            },

            {
                 "type": "image_picker",
                 "id": "my-img",
                 "label": "Add your image"
            }
            
        ]
    }
{% endschema %}



