<h3>{{ section.settings.ship-text }}</h3>



{% schema %}
    {
        "name": "information",
        "settings": [
            {
                "type": "text",
                "id": "ship-text",
                "label": "Heading"
               
            }
        
        ]
    }
{% endschema %}



